<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Disabled</key>
   <false/>
   <key>EnvironmentVariables</key>
   <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
   </dict>
   <key>Label</key>
   <string>distnoted_watchdog</string>
   <key>ProgramArguments</key>
   <array>
      <string>/Library/TCG/scripts/distnotedmonitor.sh</string>
   </array>
   <key>RunAtLoad</key>
   <false/>
   <key>StartInterval</key>
   <integer>60</integer>
</dict>
</plist>